$primary : #4B5945;
@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";

$custom-theme-colors:(
    "light-color": #ECEBDE,
    "light-opacity": rgba(0, 0, 0, 0.493),
    "light-green": #66785F,
    "dark-green": #4B5945,
);
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.area{
    background: map-get($custom-theme-colors, "light-color" );  
    width: 100%;
    height:100vh;
}

.circles{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    li{
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background: map-get($custom-theme-colors, "light-green");
        animation: animate 25s linear infinite;
        bottom: -150px;
    }
    li:nth-child(1){
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
    }
    li:nth-child(2){
        left: 10%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
    }
    li:nth-child(3){
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
    }
    li:nth-child(4){
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
    }
    li:nth-child(5){
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
    }
    li:nth-child(6){
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
    }
    li:nth-child(7){
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
    }
    li:nth-child(8){
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
    }
    li:nth-child(9){
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
    }
    li:nth-child(10){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
.form-container{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.custom-color{
    color: map-get($custom-theme-colors, "light-color" );
}
li{
  list-style-type: none;  
}



.profile-picture{
    position: relative;
    width: 200px;
    height: 200px;
    #profile-img, .overlay, #profile-input, i{
        position: absolute;
        left: 0;
        top: 0;
    }
    #profile-img{
        width: 100%;
        z-index: 1;
    }
    .overlay{
        z-index: 5;
        width: 200px;
        height: 200px;
        #profile-input, i{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        
         } 
        i{
             z-index: 10;
        }
        #profile-input{
            width: 45px;
            z-index: 20;
            opacity: 0;
        }
    }
    
}
.add-book{
    position: relative;
   height: 20px;
   width: 40px;
    i, #add-book{
        position: absolute;
        
    }
    #add-book{
        width: 35px;
        z-index: 2;
        opacity: 0;
        top: 0;
        left: 0;
    }
    i{
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
}
#all-books > *{
    max-width: 300px;
    .img-card{
    height: 250px;
    img{
        object-fit: contain;
        max-height: 250px;
        width: 100%;
    }
}
}
.img-container{
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    img, .overlay{
        position: absolute;
    }
    img{
        max-width: 100%;
        object-fit: cover;
    }
    .overlay{
        background-color: map-get($custom-theme-colors, "light-opacity" );
        height: 100%;
        z-index: 5;
        p{
            z-index: 10;
        }
    }
}